.left1 {
	position: fixed;
	top: 50px;
	left: 80px;
}

.left2 {
	position: fixed;
	top: 250px;
	left: 80px;
}

.left3 {
	position: fixed;
	top: 450px;
	left: 80px;
}


.middle1 {
	position: fixed;
	top: 50px;
	left: 600px;
}

.middle2 {
	position: fixed;
	top: 250px;
	left: 600px;
}

.middle3 {
	position: fixed;
	top: 450px;
	left: 600px;
}

.right1 {
	position: fixed;
	top: 50px;
	left: 1120px;
}

.right2 {
	position: fixed;
	top: 250px;
	left: 1120px;
}

.right3 {
	position: fixed;
	top: 450px;
	left: 1120px;
}

.bottom_answer {
	position: fixed;
	top: 600px;
	left: 340px;
}

.submit_button {
	position: fixed;
	top: 670px;
	left: 600px;
}

.finish_button {
	position: fixed;
	top: 670px;
	left: 1200px;
}

